# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# generated
.vercel/
.netlify/

# logs
*.log
npm-debug.log*
bun-debug.log*

# environment
.env
.env.production

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
